body {
    margin: 0;
    padding: 0;
    background-image: url('./background-picture.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.title {
    width: 40%;
    height: 20%;
    font-family: 'Luckiest Guy', cursive;
    font-size: 40pt;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    left: 55%;
}


.button {
    width: 20%;
    height: 10%;
    font-family: 'Luckiest Guy', cursive;
    font-size: 30pt;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    position: absolute;
    left: 65%;
    top: 80%;
    background-color: #6096B4;
    border-radius: 5%;
    border: 5px solid #3E54AC;
    padding-top: auto;
    padding-bottom: auto;
    transition: all 2s;
}

.button:hover {
    cursor: pointer;
    width: 23%;
    height: 13%;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 20%;
    left: 25%;
    background-color: #6096B4;
    border: 5px solid #3E54AC;
    font-family: 'Passion One', cursive;
    border-radius: 5%;
  }
  
  h1 {
    font-size: 25px;
    color: white;
  }
  
  label {
    font-size: 20px;
    color: white;
  }
  
  input[type="text"] {
    padding: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  button {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #greeting {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
  }